# 编辑器
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Mac 系统文件
.DS_Store

# Vim 临时文件
*.swp

# node包相关文件
node_modules/
npm-debug.logs

# Redis dump文件
dump.rdb

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
!logs/README.md

# 配置文件
config/*
!config/default.*
!config/*.example

# 编译文件
app
build

# 静态文件
src/static/*apidoc

# package-lock
package-lock.json
yarn.lock

# 上传文件
src/upload/*
!src/upload/README.md

# SonarQube
.sonar/
.scannerwork/
.sonarlint/
