{{> header.base title=pageData.title}}

<div class="ui container text-center">
  <div class="welcome">Welcome to BinAPI!</div>
</div>


{{> footer}}
{{> footer.base}}

<script src="/js/index.js"></script>
