.text-center {
  text-align: center;
}
.welcome {
  font-family: fantasy;
  margin: 10rem auto;
  font-size: 3rem;
}
.page-header{
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
#clock {
  position: fixed;
  bottom: 1rem;
  width: 100%;
}
