<footer>
  <div class="ui center aligned container">
    <p>
      页面渲染用时：{{ time }} ms，
      <a class="ui item" href="{{ CONFIG.adminURL }}/login">
        登录
      </a>
    </p>

  </div>
  </div>
